/*
 * File: /src/styles/pages/_Setup.scss
 * File Created: Friday, 3rd January 2020 12:47:18 pm
 * Author: Alex Chomiak 
 * 
 * Last Modified: Sunday, 5th January 2020 4:41:44 pm
 * Modified By: Alex Chomiak 
 * 
 * Author Github: https://github.com/alexchomiak
 */

.setup {
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        font-style: italic;
        color: $secondaryColor;
    }

    .hat {
        display: inline;
        width: 80px;
        margin-right: 2rem;
        animation: shake 2.2s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }

    .hat:hover {
        animation: shake 0.7s;
        animation-iteration-count: infinite;
    }

    section {
        margin: 1.9rem auto;

        h2 {
            color: $secondaryColor;
            font-weight: 200;
            font-size: 2.9rem;
        }
    }

    p {
        color: $sectionColor;
        font-size: 1.5rem;
    }

    ul {
        color: $secondaryColor;
    }

    section.file-structure {
        h3 {
            font-style: italic;
        }
        ul {
            list-style-type: none;
        }
    }

    section.commands {
        ul {
            list-style-type: square;
        }
        p {
            font-style: italic;
            font-weight: 300;
        }
    }
}
